#!/bin/sh

#PASSWORD=`openssl passwd -1 -salt hLGoLIZR $ROOT_PASSWORD`
sed -i "s/^next_server: 127.0.0.1/next_server: $SERVER_IP/g" /etc/cobbler/settings
sed -i "s/^server: 127.0.0.1/server: $SERVER_IP/g" /etc/cobbler/settings
#sed -i 's/pxe_just_once: 0/pxe_just_once: 1/g' /etc/cobbler/settings
#sed -i 's/manage_dhcp: 0/manage_dhcp: 1/g' /etc/cobbler/settings
#sed -i "s#^default_password.*#default_password_crypted: \"$PASSWORD\"#g" /etc/cobbler/settings
sed -i "s/^#ServerName www.example.com:80/ServerName localhost:80/" /etc/httpd/conf/httpd.conf

rm -rf /run/httpd/*
/usr/sbin/apachectl
/usr/bin/cobblerd

cobbler sync
cobbler get-loaders

cobbler signature update

## import distro
cobbler import --name="RHEL-7.3-x86_64" \
         --arch="x86_64" \
         --path=/mnt \
         --kickstart=/var/lib/cobbler/kickstarts/rhel-7-kickstart.ks

cobbler profile edit --name=RHEL-7.3-x86_64 \
         --kopts="kernel_options : ksdevice lang=  inst.repo=http://$SERVER_IP/cblr/ks_mirror/RHEL-73-x86_64 ip=dhcp text kssendmac"

## add post script to restart dnsmasq since we don't use systemd inside the container
echo -e '#!/bin/bash\npkill dnsmasq; /usr/sbin/dnsmasq' >  /var/lib/cobbler/triggers/sync/post/run.sh
chmod 0755  /var/lib/cobbler/triggers/sync/post/run.sh

cobbler sync

pkill cobblerd
pkill httpd
pkill dnsmasq
rm -rf /run/httpd/*


{% if APACHE_SSL == 1 %}
if [ ! -r /etc/httpd/ssl/cert.crt ]; then
  mkdir -p /etc/httpd/ssl
  cd  /etc/httpd/ssl
  openssl req -subj '/CN={{APACHE_HOSTNAME}}/O=My Company Name LTD./C=US' -new -newkey rsa:2048 -days 3650 -sha256  -nodes -x509 -keyout cert.key -out cert.crt
fi
{% endif %}
exec "$@"